


<title>Главная страница</title>


{% block menu %}
    {% include "main/menu.html" %}
{% endblock menu %}


<div class="main-content">
{% block content %}
    <div class="row games">

        {% for games in games %}
            <div class="col-3 py-3">
                <div class="text-center">
                <a href="{% url 'game_detail' games.pk %}">
                    {% if games.main_image %}
                        <img style="height: 240px; width: 160px" src="{{ games.main_image.url }}">
                    {% endif %}
                    <div class="">{{ games.nazvanie }}</div>
                </a>
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock content %}
</div>